html {
  background-color: red;
}

body {
  margin: 0;
  height: calc(100vh + 11019px);
  background-color: blue;
}

main {
  position: fixed;
  width: 100%;
  background-color: dimgray;
  height: 100vh;
  overflow: hidden;
}

#target {
  position: absolute;
}
